*.log*
*.zip
*.tar.gz
*.rar
.env
logs/

# node
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
node_modules/

# ruby
*.gem
*.rbc
.bundle/

# python
.eggs/
.venv/
pip-log.txt
eggs/
venv/

# php
composer.phar
phpunit.xml
vendor/

